

:root {
    /* The --phi-theme-nn variables are used by the application's theme menu to allow the user to change colors.
     * Entries added here are automatically displayed in the menu, without the need to alter any code.
     * See: phi-main-header.ts
     */
    --phi-theme-01-name: "Blue (default)";
    --phi-theme-01-primary: var(--sl-color-blue-500);

    --phi-theme-02-name: Purple;
    --phi-theme-02-primary: var(--sl-color-purple-500);

    --phi-theme-03-name: Emerald;
    --phi-theme-03-primary: var(--sl-color-emerald-500);

    --phi-theme-04-name: Pink;
    --phi-theme-04-primary: var(--sl-color-pink-500);

    --phi-theme-05-name: Red;
    --phi-theme-05-primary: var(--sl-color-red-500);

    --phi-theme-06-name: Yellow;
    --phi-theme-06-primary: var(--sl-color-yellow-500);

    --phi-theme-07-name: "Custom Color";
    --phi-theme-07-primary: var(--phi-color-custom);
}

:root, .phi-theme-01 {
    /* Default Theme */
    /*noinspection CssUnknownTarget*/
    --phi-home-background-image: url("/pexels-olly-3979198.jpg");
    --phi-home-background-filter: sepia(50%) hue-rotate(170deg) saturate(50%) brightness(80%);
    --sl-color-primary-50:  var(--sl-color-sky-50);
    --sl-color-primary-100: var(--sl-color-sky-100);
    --sl-color-primary-200: var(--sl-color-sky-200);
    --sl-color-primary-300: var(--sl-color-sky-300);
    --sl-color-primary-400: var(--sl-color-sky-400);
    --sl-color-primary-500: var(--sl-color-sky-500);
    --sl-color-primary-600: var(--sl-color-sky-600);
    --sl-color-primary-700: var(--sl-color-sky-700);
    --sl-color-primary-800: var(--sl-color-sky-800);
    --sl-color-primary-900: var(--sl-color-sky-900);
    --sl-color-primary-950: var(--sl-color-sky-950);
}

.phi-theme-02 {
    --phi-home-background-filter: saturate(80%) brightness(80%);
    --sl-color-primary-50:  var(--sl-color-purple-50);
    --sl-color-primary-100: var(--sl-color-purple-100);
    --sl-color-primary-200: var(--sl-color-purple-200);
    --sl-color-primary-300: var(--sl-color-purple-300);
    --sl-color-primary-400: var(--sl-color-purple-400);
    --sl-color-primary-500: var(--sl-color-purple-500);
    --sl-color-primary-600: var(--sl-color-purple-600);
    --sl-color-primary-700: var(--sl-color-purple-700);
    --sl-color-primary-800: var(--sl-color-purple-800);
    --sl-color-primary-900: var(--sl-color-purple-900);
    --sl-color-primary-950: var(--sl-color-purple-950);
}

.phi-theme-03 {
    --phi-home-background-filter: unset;
    --sl-color-primary-50:  var(--sl-color-emerald-50);
    --sl-color-primary-100: var(--sl-color-emerald-100);
    --sl-color-primary-200: var(--sl-color-emerald-200);
    --sl-color-primary-300: var(--sl-color-emerald-300);
    --sl-color-primary-400: var(--sl-color-emerald-400);
    --sl-color-primary-500: var(--sl-color-emerald-500);
    --sl-color-primary-600: var(--sl-color-emerald-600);
    --sl-color-primary-700: var(--sl-color-emerald-700);
    --sl-color-primary-800: var(--sl-color-emerald-800);
    --sl-color-primary-900: var(--sl-color-emerald-900);
    --sl-color-primary-950: var(--sl-color-emerald-950);
}

.phi-theme-04 {
    --phi-home-background-filter: sepia(25%) hue-rotate(250deg) saturate(20%) brightness(80%);
    --sl-color-primary-50:  var(--sl-color-pink-50);
    --sl-color-primary-100: var(--sl-color-pink-100);
    --sl-color-primary-200: var(--sl-color-pink-200);
    --sl-color-primary-300: var(--sl-color-pink-300);
    --sl-color-primary-400: var(--sl-color-pink-400);
    --sl-color-primary-500: var(--sl-color-pink-500);
    --sl-color-primary-600: var(--sl-color-pink-600);
    --sl-color-primary-700: var(--sl-color-pink-700);
    --sl-color-primary-800: var(--sl-color-pink-800);
    --sl-color-primary-900: var(--sl-color-pink-900);
    --sl-color-primary-950: var(--sl-color-pink-950);
}

.phi-theme-05 {
    --phi-home-background-filter: sepia(25%) hue-rotate(-40deg) saturate(20%) brightness(66%);
    --sl-color-primary-50:  var(--sl-color-red-50);
    --sl-color-primary-100: var(--sl-color-red-100);
    --sl-color-primary-200: var(--sl-color-red-200);
    --sl-color-primary-300: var(--sl-color-red-300);
    --sl-color-primary-400: var(--sl-color-red-400);
    --sl-color-primary-500: var(--sl-color-red-500);
    --sl-color-primary-600: var(--sl-color-red-600);
    --sl-color-primary-700: var(--sl-color-red-700);
    --sl-color-primary-800: var(--sl-color-red-800);
    --sl-color-primary-900: var(--sl-color-red-900);
    --sl-color-primary-950: var(--sl-color-red-950);
}

.phi-theme-06 {
    --phi-home-background-filter: unset;
    --sl-color-primary-50:  var(--sl-color-yellow-50);
    --sl-color-primary-100: var(--sl-color-yellow-100);
    --sl-color-primary-200: var(--sl-color-yellow-200);
    --sl-color-primary-300: var(--sl-color-yellow-300);
    --sl-color-primary-400: var(--sl-color-yellow-400);
    --sl-color-primary-500: var(--sl-color-yellow-500);
    --sl-color-primary-600: var(--sl-color-yellow-600);
    --sl-color-primary-700: var(--sl-color-yellow-700);
    --sl-color-primary-800: var(--sl-color-yellow-800);
    --sl-color-primary-900: var(--sl-color-yellow-900);
    --sl-color-primary-950: var(--sl-color-yellow-950);
}

.phi-theme-07 {
    --phi-home-background-filter: unset;
    --sl-color-primary-50:  var(--phi-color-custom-50);
    --sl-color-primary-100: var(--phi-color-custom-100);
    --sl-color-primary-200: var(--phi-color-custom-200);
    --sl-color-primary-300: var(--phi-color-custom-300);
    --sl-color-primary-400: var(--phi-color-custom-400);
    --sl-color-primary-500: var(--phi-color-custom-500);
    --sl-color-primary-600: var(--phi-color-custom-600);
    --sl-color-primary-700: var(--phi-color-custom-700);
    --sl-color-primary-800: var(--phi-color-custom-800);
    --sl-color-primary-900: var(--phi-color-custom-900);
    --sl-color-primary-950: var(--phi-color-custom-950);
}
